# Laravel-specific
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/.phpunit.cache
.phpunit.result.cache
.env
.env.*
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE / Editor
/.idea/
/.vscode/
/.fleet/

# OS
.DS_Store
Thumbs.db

# Log / Temp files
*.log
*.zip
*.rar

# Image captures (satria niaraka t@ sary gif ilay olana)
*.png
*.jpg
*.jpeg
*.gif
